*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.d-flex{
    display: flex;
}

body{
    background-color: #FCE2DB;
}

.container{
    justify-content: center;
}

.app{
    background-color: #D75281;
    margin-top: 8%;
    height: 380px;
    width: 480px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    box-shadow: 20px 20px  30px grey;
}



.temp{
    font-size: 5vw;
    font-weight: 900;
    /* this font need to be installed!!! */
    font-family: Dongle;
    padding:  50px;
    width: 80%;
    text-align: center;
    color: #fff;
    border:#FFB3B3 solid 5px ;
    border-radius: 60%;
    justify-content: center;
    align-items: center;
}

.btn{
    border: 0;
    border-radius: 25px;
    margin-left: 10px;
    outline: none;
    cursor: pointer;
    font-size: 4vw;
    padding: 0 30px;
    margin-top: 30px;
    font-family: Dongle;
    background-color:#7A4495 ;
    color: #fff;
    transition: .3s;
}

.btn:hover{
    background-color: #FF8FB1;
    color: rgba(99,99,99);
}

.hot{
    border-color: orange;
    
}

.cold{
    border-color:rgb(123, 191, 244) ;
}

.default-color{
    background-color: #D75281;
}

.name{
    margin-top: 40px;
    /* this font need to be installed!!! */
    font-family: Dongle;
    font-weight: 900;
    font-size: 5vw;
    justify-content: center;
    color: rgb(99, 99, 99);
     text-shadow: 5px 5px 10px rgba(99,99,99);
}